/****** Object:  Database [FinanceApp]    Script Date: 17/03/2026 16:00:47 ******/
CREATE DATABASE [FinanceApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinanceApp', FILENAME = N'/var/opt/mssql/data/FinanceApp_Primary.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinanceApp_log', FILENAME = N'/var/opt/mssql/data/FinanceApp_Primary.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinanceApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinanceApp]
GO
/****** Object:  DatabaseRole [EventStoreWriter]    Script Date: 17/03/2026 16:00:47 ******/
CREATE ROLE [EventStoreWriter]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 17/03/2026 16:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[BalanceAmount] [decimal](18, 2) NOT NULL,
	[BalanceCurrency] [nvarchar](3) NOT NULL,
	[CreditLimitAmount] [decimal](18, 2) NOT NULL,
	[CreditLimitCurrency] [nvarchar](3) NOT NULL,
	[CurrentDebtAmount] [decimal](18, 2) NOT NULL,
	[CurrentDebtCurrency] [nvarchar](3) NOT NULL,
	[PaymentDate] [datetimeoffset](7) NULL,
	[DueDate] [datetimeoffset](7) NULL,
	[Status] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NULL,
	[ClosedAt] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currency]    Script Date: 17/03/2026 16:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currency](
	[Code] [nvarchar](3) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Symbol] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 17/03/2026 16:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Event_Id] [uniqueidentifier] NOT NULL,
	[Aggregate_Id] [uniqueidentifier] NOT NULL,
	[Event_Type] [nvarchar](100) NOT NULL,
	[Payload] [nvarchar](max) NOT NULL,
	[Version] [int] NOT NULL,
	[Timestamp] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_events] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCredentials]    Script Date: 17/03/2026 16:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCredentials](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Login] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17/03/2026 16:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[RegisteredAt] [datetimeoffset](7) NOT NULL,
	[ModifiedAt] [datetimeoffset](7) NOT NULL,
	[DateOfBirth] [datetimeoffset](7) NOT NULL,
	[ProfileImage] [nvarchar](2048) NOT NULL,
	[LastLogin] [datetimeoffset](7) NULL,
	[CredentialsSet] [bit] NOT NULL,
	[CredentialsSetAt] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Currency] ([Code], [Name], [Symbol]) VALUES (N'ARS', N'Argentine Peso', N'AR$')
INSERT [dbo].[Currency] ([Code], [Name], [Symbol]) VALUES (N'BRL', N'Brazilian Real', N'R$')
INSERT [dbo].[Currency] ([Code], [Name], [Symbol]) VALUES (N'CAD', N'Canadian Dollar', N'CA$')
GO
INSERT [dbo].[UserCredentials] ([Id], [UserId], [Login], [PasswordHash]) VALUES (N'4e681293-1b90-454a-abdc-9d0076e2b12d', N'6a196699-6dff-47d2-a14f-64addcd159b5', N'marco@teste.com', N'$2a$11$iNArc8riwMrLmmdlSQy5aOsn4MvjzpYPhlj2JkLDBkI7Y07l30Ywm')
GO
INSERT [dbo].[Users] ([Id], [Name], [Email], [RegisteredAt], [ModifiedAt], [DateOfBirth], [ProfileImage], [LastLogin], [CredentialsSet], [CredentialsSetAt]) VALUES (N'6a196699-6dff-47d2-a14f-64addcd159b5', N'Marco', N'marco@teste.com', CAST(N'2026-03-06T08:37:25.4857304-03:00' AS DateTimeOffset), CAST(N'2026-03-06T08:37:25.4857923-03:00' AS DateTimeOffset), CAST(N'2000-03-06T11:36:55.5780000+00:00' AS DateTimeOffset), N'', NULL, 0, NULL)
GO
/****** Object:  Index [IX_Accounts_CreatedAt]    Script Date: 17/03/2026 16:00:47 ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_CreatedAt] ON [dbo].[Account]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Accounts_Status]    Script Date: 17/03/2026 16:00:47 ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_Status] ON [dbo].[Account]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Accounts_Type]    Script Date: 17/03/2026 16:00:47 ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_Type] ON [dbo].[Account]
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Accounts_UserId]    Script Date: 17/03/2026 16:00:47 ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_UserId] ON [dbo].[Account]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_events_account_version]    Script Date: 17/03/2026 16:00:47 ******/
ALTER TABLE [dbo].[Events] ADD  CONSTRAINT [UQ_events_account_version] UNIQUE NONCLUSTERED 
(
	[Aggregate_Id] ASC,
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_events_event_id]    Script Date: 17/03/2026 16:00:47 ******/
ALTER TABLE [dbo].[Events] ADD  CONSTRAINT [UQ_events_event_id] UNIQUE NONCLUSTERED 
(
	[Event_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_events_account_timestamp]    Script Date: 17/03/2026 16:00:47 ******/
CREATE NONCLUSTERED INDEX [IX_events_account_timestamp] ON [dbo].[Events]
(
	[Aggregate_Id] ASC,
	[Timestamp] DESC
)
INCLUDE([Event_Type],[Version]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_events_account_version]    Script Date: 17/03/2026 16:00:47 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_events_account_version] ON [dbo].[Events]
(
	[Aggregate_Id] ASC,
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_events_timestamp]    Script Date: 17/03/2026 16:00:47 ******/
CREATE NONCLUSTERED INDEX [IX_events_timestamp] ON [dbo].[Events]
(
	[Timestamp] DESC
)
INCLUDE([Aggregate_Id],[Event_Type]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 17/03/2026 16:00:47 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_DateOfBirth]    Script Date: 17/03/2026 16:00:47 ******/
CREATE NONCLUSTERED INDEX [IX_Users_DateOfBirth] ON [dbo].[Users]
(
	[DateOfBirth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 17/03/2026 16:00:47 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RegisteredAt]    Script Date: 17/03/2026 16:00:47 ******/
CREATE NONCLUSTERED INDEX [IX_Users_RegisteredAt] ON [dbo].[Users]
(
	[RegisteredAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [BalanceAmount]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ('USD') FOR [BalanceCurrency]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [CreditLimitAmount]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ('USD') FOR [CreditLimitCurrency]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [CurrentDebtAmount]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ('USD') FOR [CurrentDebtCurrency]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserCredentials] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetimeoffset()) FOR [RegisteredAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetimeoffset()) FOR [ModifiedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [ProfileImage]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [CredentialsSet]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Users]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_BalanceCurrency] FOREIGN KEY([BalanceCurrency])
REFERENCES [dbo].[Currency] ([Code])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Accounts_BalanceCurrency]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_CreditLimitCurrency] FOREIGN KEY([CreditLimitCurrency])
REFERENCES [dbo].[Currency] ([Code])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Accounts_CreditLimitCurrency]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_CurrentDebtCurrency] FOREIGN KEY([CurrentDebtCurrency])
REFERENCES [dbo].[Currency] ([Code])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Accounts_CurrentDebtCurrency]
GO
ALTER TABLE [dbo].[UserCredentials]  WITH CHECK ADD  CONSTRAINT [FK_UserCredentials_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserCredentials] CHECK CONSTRAINT [FK_UserCredentials_Users]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [CK_Accounts_BalanceAmount] CHECK  (([BalanceAmount]>=(0)))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [CK_Accounts_BalanceAmount]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [CK_Accounts_CreditLimitAmount] CHECK  (([CreditLimitAmount]>=(0)))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [CK_Accounts_CreditLimitAmount]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [CK_Accounts_CurrentDebtAmount] CHECK  (([CurrentDebtAmount]>=(0)))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [CK_Accounts_CurrentDebtAmount]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [CK_events_payload] CHECK  ((isjson([Payload])=(1)))
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [CK_events_payload]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [CK_events_version] CHECK  (([Version]>(0)))
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [CK_events_version]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_DateOfBirth_NotFuture] CHECK  (([DateOfBirth]<=sysdatetimeoffset()))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_DateOfBirth_NotFuture]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Email_Format] CHECK  (([Email] like '%@%'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Email_Format]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_ModifiedAt_AfterRegistered] CHECK  (([ModifiedAt]>=[RegisteredAt]))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_ModifiedAt_AfterRegistered]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Name_NotEmpty] CHECK  ((len(Trim([Name]))>(0)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Name_NotEmpty]
GO
