/****** Object:  Database [FinanceApp]    Script Date: 04/02/2026 08:32:41 ******/
CREATE DATABASE [FinanceApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinanceApp', FILENAME = N'/var/opt/mssql/data/FinanceApp_Primary.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinanceApp_log', FILENAME = N'/var/opt/mssql/data/FinanceApp_Primary.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinanceApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinanceApp]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 04/02/2026 08:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[Name] [nvarchar](200) NOT NULL,
	[BalanceAmount] [decimal](18, 2) NOT NULL,
	[BalanceCurrency] [nvarchar](3) NOT NULL,
	[CreditLimitAmount] [decimal](18, 2) NOT NULL,
	[CreditLimitCurrency] [nvarchar](3) NOT NULL,
	[CurrentDebtAmount] [decimal](18, 2) NOT NULL,
	[CurrentDebtCurrency] [nvarchar](3) NOT NULL,
	[PaymentDate] [datetimeoffset](7) NULL,
	[DueDate] [datetimeoffset](7) NULL,
	[Status] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[ClosedAt] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currency]    Script Date: 04/02/2026 08:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currency](
	[Code] [nvarchar](3) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Symbol] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Currency] ([Code], [Name], [Symbol]) VALUES (N'ARS', N'Argentine Peso', N'AR$')
INSERT [dbo].[Currency] ([Code], [Name], [Symbol]) VALUES (N'BRL', N'Brazilian Real', N'R$')
INSERT [dbo].[Currency] ([Code], [Name], [Symbol]) VALUES (N'CAD', N'Canadian Dollar', N'CA$')
GO
/****** Object:  Index [IX_Accounts_CreatedAt]    Script Date: 04/02/2026 08:32:41 ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_CreatedAt] ON [dbo].[Account]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Accounts_Status]    Script Date: 04/02/2026 08:32:41 ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_Status] ON [dbo].[Account]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Accounts_Type]    Script Date: 04/02/2026 08:32:41 ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_Type] ON [dbo].[Account]
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Accounts_UserId]    Script Date: 04/02/2026 08:32:41 ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_UserId] ON [dbo].[Account]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [BalanceAmount]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ('USD') FOR [BalanceCurrency]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [CreditLimitAmount]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ('USD') FOR [CreditLimitCurrency]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [CurrentDebtAmount]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ('USD') FOR [CurrentDebtCurrency]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_BalanceCurrency] FOREIGN KEY([BalanceCurrency])
REFERENCES [dbo].[Currency] ([Code])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Accounts_BalanceCurrency]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_CreditLimitCurrency] FOREIGN KEY([CreditLimitCurrency])
REFERENCES [dbo].[Currency] ([Code])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Accounts_CreditLimitCurrency]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_CurrentDebtCurrency] FOREIGN KEY([CurrentDebtCurrency])
REFERENCES [dbo].[Currency] ([Code])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Accounts_CurrentDebtCurrency]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [CK_Accounts_BalanceAmount] CHECK  (([BalanceAmount]>=(0)))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [CK_Accounts_BalanceAmount]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [CK_Accounts_CreditLimitAmount] CHECK  (([CreditLimitAmount]>=(0)))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [CK_Accounts_CreditLimitAmount]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [CK_Accounts_CurrentDebtAmount] CHECK  (([CurrentDebtAmount]>=(0)))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [CK_Accounts_CurrentDebtAmount]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [CK_Accounts_Name] CHECK  ((len([Name])>(0)))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [CK_Accounts_Name]
GO
